<template>
    <div class="flex">
      <div  class="w-3/4">
        <div>

            <router-link to="/" class="bg-white hover:bg-grey-lightest text-grey-darkest font-semibold py-2 px-4 border border-grey-light rounded shadow">
                                <i class="fas fa-angle-left"></i>
            </router-link>
        </div>
        <div v-if='isLoading' class='text-center'>
            <img src='/svg/progress.svg' />
        </div>
        <div v-if='selectedItem'>
            <div class='mt-4' >
                  <div class="flex items-center border-b border-b-2 border-teal py-2">
                    <input 
                    v-model='selectedItem.title'
                    class="appearance-none bg-transparent border-none w-full text-grey-darker mr-3 py-1 px-2 leading-tight focus:outline-none" 
                    type="text" placeholder="Title" 
                        aria-label="Full name">
                </div>
            </div>

            <div class='mt-4' v-if='selectedItem.image'>
              <div class="shadow-2xl cursor-pointer h-250" 
              @click='editMainImage()'
              >
                  <img class="object-cover w-full " 
                  :src='"/preview/file/"+selectedItem.image.id' >
                  <div style='font-size: 50%;'>Article Main Image < Click to Edit ></div>
              </div>    
            </div>

            <div class='mt-4' v-for='(articleObj,index) in articleConfigs'>
                <div style='border: 1px solid #ddd; padding: 5px;' 
                    v-if='articleObj.type === "text"'>
                   <i class="fas fa-times float-right cursor-pointer p-2"
                    @click='removeArticleContent(index)'
                    ></i>
                    <medium-editor :text='articleObj.content'
                    :options='mediumOptions' 
                    :objvalue="index"
                    v-on:edit='applyTextEdit'>
                    </medium-editor>
                </div>
                <div style='border: 1px solid #ddd; padding: 5px;' 
                                    v-if='articleObj.type === "image"'>
                    <i class="fas fa-times float-right cursor-pointer p-2"
                    @click='removeArticleContent(index)'
                    ></i>
                    <i class="fas fa-edit float-right cursor-pointer p-2"
                    @click='editImageContent(index)'
                    ></i>
                         <div class="shadow-2xl">
                            <img class="object-cover  w-full " 
                            :src='"/preview/file/"+articleObj.content.id' >
                        </div>           
                </div>
            </div>
            <div class='mt-4'>
                <div class='float-left mr-2'>
                    <p @click='addContentBlock()' 
                            class="cursor-pointer bg-grey-light h-16 w-16 rounded-full flex items-center justify-center">
                        <i class='fas fa-newspaper'></i>
                    </p>
                </div>
                <div class='float-left'>
                    <p @click='addImageToContent()'
                         class="cursor-pointer bg-grey-light h-16 w-16 rounded-full flex items-center justify-center">
                        <i class='fas fa-image'></i>
                    </p>
                </div>
                <div class='clearfix'></div>
            </div>

            <div class='mt-4'>
                
          <div>
            <vue-tags-input
            class='w-full'
              v-model="tag"
              :tags="tags"
              :autocomplete-items="autocompleteItems"
              @tags-changed="updateTags"
            />
          </div>
              </div>
            <div class='mt-4'>
                <button class="bg-green hover:bg-green-dark text-white font-bold py-2 px-4 rounded float-right"
                @click='saveArticle()'
                >
                  Save
                </button>
            </div>
        </div>
        </div>
        <div  class="w-1/4 font-sans" v-if='selectedItem'>
          <div class='bg-white p-5'>
              <div>
                <div style='font-size: 80%;'  class='bold'>STATUS</div>
                <div style='font-size: 80%;' 
                :class='"ns-"+selectedItem.status'>{{selectedItem.status}}</div>
                
                <div class='mt-2'>
                  <div style='font-size: 80%;'  class='bold'>Actions</div>
                </div>
                
                <div style='font-size: 80%;' 
                v-if='selectedItem.status != "draft" '
                @click='updateStatus("draft")' 
                class='mt-2 cursor-pointer bg-grey hover:bg-grey-dark text-white font-bold py-2 px-2 rounded'>
                    Draft
                </div>
                <div style='font-size: 80%;' 
                v-if='selectedItem.status != "published" '
                @click='updateStatus("published")' 
                class='mt-2 cursor-pointer bg-green hover:bg-green-dark text-white font-bold py-2 px-2 rounded'>
                    Publish
                </div>
                <div style='font-size: 80%;' 
                @click='updateStatus("cancelled")' 
                v-if='selectedItem.status != "cancelled" '
                class='mt-2 cursor-pointer bg-red hover:bg-red-dark text-white font-bold py-2 px-2 rounded'>
                    Cancel
                </div>
              </div>
          </div>
        </div>
            <ed-dialog v-if="showModal" @close="showModal = false">

                <h3 slot="header" style='text-transform: capitalize; '>{{dialogConfig.title}}</h3>
                <div slot='body'>
                    <form-gen :form="form" 
                        :form-configurations="dialogConfig.formConfiguration"
                        :errors="errorResponse"
                        ></form-gen>
                </div>
                <div slot='footer'>
                   <button class="bg-green hover:bg-green-dark text-white font-bold py-2 px-4 rounded"
                    v-if="isFormLoading === false"
                    @click='dialogSave()'>Save</button>
                    <button class='btn btn-success ' v-if=" isFormLoading === true">
                        <img class="image-responsive-height " style="height: 20px;" 
                                 src="/svg/progress.svg" alt="Progress">
                    </button>
                    <button  class="bg-grey-light hover:bg-grey text-grey-darkest font-bold py-2 px-4 rounded-l"

                        @click="showModal = false">
                        Close
                    </button>
                </div>
            </ed-dialog>
            
    </div>
</template>

<script src='./news-controller.js'></script>

<style>



 .medium-editor-element {
        outline: none;

      }
      a,
      a:hover,
      section.splash h1 span,
      .medium-editor-toolbar li button,
      .color-1,
      .color-2 {
        color: #4fc08d
      }
      body,
      pre,
      .medium-editor-button-active b,
      code {
        color: #2c3e50;
      }
      .medium-editor-button-active.medium-editor-button-active.medium-editor-button-active {
        background-color: #4fc08d
      }
      pre,
      code {
        background: #f8f8f8;
        width: 80vw;
      }
      pre#cdn,
      code.data,
      pre#usage {
        max-width: 900px
      }
      code.data {
        margin-top: 50px
      }
      .medium-toolbar-arrow-over:before {
        border-color: transparent transparent #2c3e50 transparent;
      }
      .medium-editor-toolbar li button {
          border-right: 1px solid #2c3e50 ;
      }
      section.installation,
      .medium-editor-toolbar,
      .medium-editor-toolbar-anchor-preview,
      .github-fork-ribbon {
        background: #2c3e50
      }
      .medium-toolbar-arrow-under:after {
        border-color: #2c3e50 transparent transparent transparent;
      }
      #toolbar-placeholder {
        display: none;
      }
      .medium-editor-toolbar {
        transitin: none
      }
      .vue-tags-input[data-v-61d92e31]{
        max-width: none!important;
      }
</style>