<template>
    <div class="w-full">

        <div>
            <button @click='showAddForm()' class="float-right bg-white hover:bg-grey-lightest text-grey-darkest font-semibold py-2 px-4 border border-grey-light rounded shadow">
                <i class='fa fa-plus'></i>
            </button>
            <div class='clearfix'></div>
        </div>
        <div v-if='isLoading' class='text-center'>
            <img src='/svg/progress.svg' />
        </div>

        <div  v-if='items && items.length > 0'>
            <table 

                class="text-left m-4 w-full  font-sans" style="border-collapse:collapse">
                <thead>
                    <tr>
                        <th style='width: 60%;' class="py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light">
                        Title
                        </th>
                        <th style='width: 20%;' class="py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light">
                            Status
                        </th>
                        <th style='width: 20%;' class="py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover:bg-blue-lightest" v-for='item in items'>
                        <td class="py-2 px-3 border-b border-grey-light">
                            {{item.title}}
                        </td>
                        <td class="py-2 px-3 border-b border-grey-light text-center">
                            <div :class='"ns-"+item.status'>{{item.status}}</div>
                        </td>
                        <td class="py-2 px-3 border-b border-grey-light text-center">
                            <router-link 
                                class="btn-mv text-white font-bold py-2 px-4 rounded-full"
                                :to="{ name: 'article-manage', 
                                params: { 
                                id: item.id }}">View</router-link>
                        </td>
                    </tr>

                </tbody>
            </table>


        <ed-pagination class='pull-right'
                                      :pagination="pagination" 
         :callback="loadData" 
         :options="paginationOptions"></ed-pagination>

         
        </div>
        <div v-if='items && items.length == 0'>
            No records found. Add your first article.
        </div>

<ed-dialog v-if="showModal" @close="showModal = false">

                <h3 slot="header" style='text-transform: capitalize; '>Create Article</h3>
                <div slot='body'>
                    <form-gen :form="form" 
                        :form-configurations="formConfigurations"
                        :errors="errorResponse"
                        ></form-gen>
                </div>
                <div slot='footer'>
                   <button class="bg-green hover:bg-green-dark text-white font-bold py-2 px-4 rounded"
                    v-if="isFormLoading === false"
                    @click='saveForm()'>Save</button>
                    <button class='btn btn-success ' v-if=" isFormLoading === true">
                        <img class="image-responsive-height " style="height: 20px;" 
                                 src="/svg/progress.svg" alt="Progress">
                    </button>
                    <button  class="bg-grey-light hover:bg-grey text-grey-darkest font-bold py-2 px-4 rounded-l"

 @click="showModal = false">
                        Close
                    </button>
                </div>
            </ed-dialog>
    </div>
</template>

<script src='./news-list-controller.js'></script>