/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
 @tailwind preflight;

 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */
 
 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  */
 @tailwind utilities;
 
 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor..
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */
 
 
 
 .login-form{
     margin-top: 50px;
     margin-bottom: 50px;
 }
 
 
 .btn-mv{
     text-decoration: none;
     font-size: 60%;
     background-color : #d2d2d2;
 }
 
 .btn-mv:hover{
     background-color: #0074D9;
 }


 .ns-draft {
    padding: 5px;
    background-color: #eee;
    color: #2d2d2d;
    text-align: center;
  }

  .ns-published {
    padding: 5px;
    background-color: #38c172;
    color: white;
    text-align: center;
  }

  .ns-cancelled {
    padding: 5px;
    background-color : #e3342f;
    color: white;
    text-align: center;
  }