<template>
    <transition name="modal" v-if='isDisplayed== true'>
        <div class='classx-alert' @click='removeAlert()'>
            <div class='pull-right remove-btn'>
                <span class='fa fa-remove'></span>
            </div>
            <slot name="message">
              default message
            </slot>
        </div>
    </transition>
</template>

<script>
    export default {
        props: {
            state: Boolean
        },
        data()
        {
            return {
                isDisplayed : false
            };
        },
        watch : {
            'state' (newVal, oldVal){
                this.isDisplayed = this.state;
            },
            'isDisplayed' (newVal, oldVal)
            {
                if(this.isDisplayed == true){
                    console.log("TEST");
                }
            }
            
        },
        methods: {
            removeAlert()
            {
                this.isDisplayed  = false;
            }
        }
    }
</script>

<style scoped>

    .classx-alert{
        position: fixed;
        padding: 8px 10px;
        background-color: #5f5f5f;
        top: 64px;
        right: 0;
        width: 250px;
        z-index: 2000;
        color: whitesmoke;
    }

    .remove-btn{
        cursor: pointer;
    }


</style>
