<template >
<div>
  <form class="w-full max-w-md">
    <div class="flex flex-wrap "
    v-for='(config, configIndex) in formConfigurations'
    style='margin-top: 10px;'>
    <div class="w-full px-3">
      <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
        {{config.label}}
      </label>  
      <div  v-if='config.type === "input:dhivehi"'>
          <dhivehi-box v-model='form[config.formModel]'
                      class='appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey'></dhivehi-box>
      </div>
      <div  v-if='config.type === "loc"'>
          <div id="map"></div>
      </div>
      <div  v-if='config.type === "input:text"'>
          <input type='text' class='appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey' v-model="form[config.formModel]" />
          
      </div>
      <div  v-if='config.type === "input:textarea"'>
          <textarea class='appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey' 
                    style='height: 100px!important;'
                    v-model="form[config.formModel]" ></textarea>
          
      </div>
      <div  v-if='config.type === "input:number"'>
          <input type='number' class='appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey' v-model="form[config.formModel]" />
      </div>
      <div  v-if='config.type === "input:date"'>
          <input type='date' class='appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey' v-model="form[config.formModel]" />
      </div>
      <div  v-if='config.type === "input:datetime"'>
          <input type='time' class='appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey' v-model="form[config.formModel]" />
      </div>
      <div  v-if='config.type === "input:password"'>
          <input type='password' class='appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey' v-model="form[config.formModel]" />
      </div>
      <div  v-if='config.type === "select"'>
          <select  class='appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey' v-model="form[config.formModel]"
          v-if="config.dataType === 'array'"
          >
            <option v-for='option in config.dataArray'
            :value="option[config.selectOptions.option]"
            >{{option[config.selectOptions.value]}}</option>
          </select>

          <select  class='appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey' v-model="form[config.formModel]"
          v-if="config.dataType === 'api'"
          >
            <option v-for='option in config.dataArray'
            :value="option[config.selectOptions.option]"
            >{{option[config.selectOptions.value]}}</option>
          </select>
      </div>
      <div  v-if='config.type === "select2"'>
        <select2  class='appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey'   v-model="form[config.formModel]"
        v-if="config.dataType === 'array'"
        >
        <option >-</option>
          <option v-for='option in config.dataArray'
          :value="option[config.selectOptions.option]"
          >{{option[config.selectOptions.value]}}</option>
        </select2>

        <select2  class='appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-grey'   v-model="form[config.formModel]"
        v-if="config.dataType === 'api'"
        >
        <option >-</option>
          <option v-for='option in config.dataArray'
          :value="option[config.selectOptions.option]"
          >
          <span v-if='typeof config.selectOptions.value === "string"'>
              {{option[config.selectOptions.value]}}
          </span>
          <span v-if='typeof config.selectOptions.value !== "string"'>
              <span v-for="valTemp in config.selectOptions.value">
                  {{option[valTemp]}}
              </span>
          </span>
        </option>
        </select2>
      </div>

      <div  v-if='config.type === "file"' @click='selectUploadOption(configIndex)'>
          <div  v-if='files[config.formModel]' 
                class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded-full"
                @click="files[config.formModel] = null"
                >
              Change File
          </div>
        <p v-if='files[config.formModel]' class='mt-2'  >
            <img class="object-cover w-1/2 " 
                  :src='"/preview/file/"+files[config.formModel].id' >
</p>
        <vue-dropzone :id='config.formModel' 
            v-if='!files[config.formModel]'
            :options='dropzoneOptions'
            
            v-on:vdropzone-sending="sendingEvent"
            v-on:vdropzone-success="showSuccess">
        </vue-dropzone>
      </div>
      <div 
          v-if="errors !== null">
          <p   v-if="errors.data[config.formModel]" class="text-red text-xs italic">{{errors.data[config.formModel][0]}}</p>
      </div>
    </div>
      </div>
  </form>
</div>

</template>
<script>
import mymix from  './../../../infrastructure/base-model.js'
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
import { store } from './../../stores/formStore'

  export default {
        extends  : mymix,
        store,
        components: {
      vueDropzone: vue2Dropzone
    },
      props : ['formConfigurations',  'errors'],
      mounted : function(){
        var self = this;
        // var token = document.head.querySelector('meta[name="csrf-token"]');
        // this.dropzoneOptions.headers.common['X-CSRF-TOKEN'] = token.content;
        this.formConfigurations.forEach(function(configObj , key){
            if(configObj.dataType === 'api')
            {
                var route = configObj.dataApi;
                var configData = configObj;
                var configKey = key;
                self.formConfigurations[configKey].dataArray = [];
                self.customRequest('GET', route, null)
                .then(function(response){
                    self.formConfigurations[configKey].dataArray = response.data.data;
                    console.log(self.formConfigurations[configKey]);
                });
            }else if(configObj.type === 'file')
            {
              self.configIndex = key;
            }else if(configObj.type === 'loc')
            {
                self.initMap();
            }
        });
        this.form = store.state.form;
      },
      data : function()
      {
        return {
          files : {},
          dropzoneOptions: {
                url: '/upload/file',
                thumbnailWidth: 150,
                maxFilesize: 10,
                headers: null
            },
            configIndex : null,
            map : null,
            marker : null,
            form : {}
        };
      },
      methods : {
          initMap: function()
          {
            var self = this;
            var myLatlng = {lat: 4.174622798508368, lng: 73.51465740265314};

            this.map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: myLatlng
            });

            google.maps.event.addListener(this.map, 'click',
                function(event) {
                self.placeMarker(event.latLng);
            });

          },
          placeMarker(location)
          {
                this.form.lat = location.lat();
                this.form.lng = location.lng();
                console.log(this.form);
                console.log(location.lat());
                console.log(location.lng());
                if(this.marker == null){
                    this.marker = new google.maps.Marker({
                        position: location, 
                        map: this.map
                    });
                }else{
                    this.marker.setPosition(location);
                }
          },
          selectUploadOption: function(configIndex)
            {
                this.configIndex = configIndex;
                console.log(this.configIndex);
            },
          sendingEvent (file, xhr, formData) {
            formData.append('config-queue', this.configIndex);
          },
          showSuccess : function(file, response)
          {
          console.log(response);
              var self = this;
              self.form[this.formConfigurations[response.data.configKey].formModel]  =  response.data.file;

              var obj = {};
              obj[this.formConfigurations[response.data.configKey].formModel]  =  response.data.file;
              self.files = this.copy(obj);
              console.log(this.form);
              this.$store.commit('change', this.form);
          },
          'template':function() {
            return `
                    <div class="dz-preview dz-file-preview" style="height: 50px">
                        <div class="dz-image" style="height: 50px">
                            <img data-dz-thumbnail /></div>
                        <div class="dz-details">
                          <div class="dz-size"><span data-dz-size></span></div>
                          <div class="dz-filename"><span data-dz-name></span></div>
                        </div>
                        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                        <div class="dz-error-message"><span data-dz-errormessage></span></div>
                        <div class="dz-success-mark"><i class="fa fa-check"></i></div>
                        <div class="dz-error-mark"><i class="fa fa-close"></i></div>
                    </div>
                `;
        }
      },
      watch : {
          'form' : function(){
              this.$store.commit('change', this.form);
          }
      }
  }
</script>
<style>
    #map {
        width: 100%;
        height: 250px;
      }

</style>
